p {
  font-family: "Helvetica Neue", cursive; }

/*********************
NAVBAR
*********************/
.navbar .navbar-brand {
  font-family: "Permanent Marker", cursive;
  font-size: 1.6em; }

.navbar-nav li {
  padding: 0 30px;
  font-size: 1.1em;
  font-weight: bold; }
  .navbar-nav li a {
    color: black !important; }
    .navbar-nav li a:hover {
      color: #e26562 !important; }

/*********************
HEADER
*********************/
header {
  background: #404040;
  height: 430px;
  padding: 60px 0 0; }
  header #wrapper {
    margin: 0 10px;
    padding: 30px 0;
    background: #4a4a4a;
    box-shadow: 3px 4px 3px #1a1a1a;
    text-align: center; }
    header #wrapper h2 {
      font-size: 2.5em;
      font-family: "Permanent Marker", cursive;
      color: #e26562;
      margin-bottom: 25px; }
    header #wrapper h3 {
      font-family: "Helvetica Neue", cursive;
      font-weight: 300;
      color: white; }
    header #wrapper hr {
      border: 1px solid #b3b3b3;
      border-radius: 100%;
      width: 80%; }
    header #wrapper ul {
      margin-top: 20px;
      display: block;
      padding: 0; }
      header #wrapper ul li {
        display: inline-block; }
        header #wrapper ul li a {
          color: white;
          text-decoration-line: none;
          padding: 0 10px;
          font-size: 1.4em; }
      header #wrapper ul .fa-facebook:hover {
        color: #3b5999; }
      header #wrapper ul .fa-envelope:hover {
        color: #02b875; }
      header #wrapper ul .fa-github:hover {
        color: #913399; }

/*********************
PORTFOLIO
*********************/
#portfolio {
  background: #e26562;
  text-align: center; }
  #portfolio h2 {
    padding: 30px 0;
    font-family: "Permanent Marker", cursive;
    font-size: 2.5em;
    color: white; }
  #portfolio .item-mobile {
    display: grid; }
  #portfolio .item {
    height: 350px;
    position: relative;
    margin-bottom: 10px; }
  #portfolio .item1 {
    background: url("../img/DeanHollingworth.png");
    background-size: cover;
    display: flex;
    align-items: flex-end; }
    #portfolio .item1 p {
      color: white;
      width: 100%;
      padding: 9px 2px;
      font-family: "Helvetica Neue", cursive;
      font-weight: bold;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.8); }
  #portfolio .item2 {
    background: url("../img/ChiveNationMtl.png");
    background-size: cover;
    display: flex;
    align-items: flex-end; }
    #portfolio .item2 p {
      color: white;
      width: 100%;
      padding: 9px 2px;
      font-family: "Helvetica Neue", cursive;
      font-weight: bold;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.8); }
  #portfolio .item3 {
    /* display: none; */
    background: url("../img/stentor.jpeg");
    background-size: cover;
    display: flex;
    align-items: flex-end; }
    #portfolio .item3 p {
      color: white;
      width: 100%;
      padding: 9px 2px;
      font-family: "Helvetica Neue", cursive;
      font-weight: bold;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.8); }
  #portfolio .item:hover::after {
    content: attr(data-background-icon);
    font-family: "FontAwesome";
    font-size: 3em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #portfolio .item::before {
    content: "";
    background: rgba(98, 226, 164, 0.7);
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s; }
  #portfolio .item:hover:before {
    opacity: 1; }
  #portfolio button {
    margin: 20px auto;
    padding: 15px 60px;
    background: white;
    color: #e26562;
    font-weight: bold;
    font-family: "Helvetica Neue", cursive;
    transition: 0.3s; }
    #portfolio button:hover {
      background: #0d0d0d;
      cursor: pointer; }

/*********************
ABOUT
*********************/
#about {
  background: #000;
  text-align: center; }
  #about h2 {
    font-size: 2.5em;
    font-family: "Permanent Marker", cursive;
    color: #e26562; }
  #about .info-about {
    margin: 0 auto; }
    #about .info-about img {
      width: 80%;
      margin-top: 15px;
      margin-bottom: 15px;
      border-radius: 50%; }
  #about h2:first-child {
    padding-top: 30px; }
  #about hr {
    border: 1px solid #4d4d4d;
    border-radius: 100%;
    width: 80%; }
  #about p {
    font-family: "Helvetica Neue", cursive; }
    #about p .bold {
      font-weight: bold;
      font-size: 1.1em;
      color: #e26562; }
  #about h4 {
    padding: 10px 0;
    font-family: "Permanent Marker", cursive; }

.aboutResume p {
  color: #fff;
  padding: 5px 10px;
  margin: 10px 20px;
  box-shadow: 1px 1px 5px #fae4e3;
  border-radius: 4px; }

.aboutOffers h4 {
  color: #e26562; }
.aboutOffers p {
  color: #fff;
  padding: 10px 0 20px;
  margin: 10px 20px; }

/*********************
OFFER
*********************/
#offers {
  /*  height: 1000px; */
  text-align: center;
  padding: 20px 20px;
  background: #fff; }
  #offers h2 {
    font-size: 2.5em;
    font-family: "Permanent Marker", cursive;
    color: #e26562;
    margin: 0 10px; }
  #offers h2:first-child {
    padding-top: 30px; }
  #offers hr {
    border: 1px solid #b3b3b3;
    border-radius: 100%;
    width: 80%; }
  #offers .info-offer {
    margin-top: 20px; }
  #offers .offer {
    margin: 13px 7px;
    padding: 30px 10px;
    background: #0d0d0d;
    box-shadow: 3px 4px 3px #1a1a1a;
    box-shadow: 1px 1px 3px #e26562;
    text-align: center;
    font-family: "Helvetica Neue", cursive;
    transition: 0.3s;
    border-radius: 15px; }
    #offers .offer:hover {
      transform: scale(1.03);
      background: #1f1f1f; }
    #offers .offer a {
      text-decoration-line: none; }
    #offers .offer h4 {
      color: white;
      font-size: 1.2em; }
      #offers .offer h4 i {
        padding-right: 10px; }
    #offers .offer p {
      color: #e26562; }

/*********************
CONTACT
*********************/
#contact {
  text-align: center;
  background: #e26562; }
  #contact h2 {
    font-size: 2.5em;
    font-family: "Permanent Marker", cursive;
    color: white;
    margin: 0 10px; }
  #contact h2:first-child {
    padding-top: 30px; }
  #contact hr {
    border: 1px solid #4d4d4d;
    border-radius: 100%;
    width: 80%; }
  #contact .info-contact {
    padding-top: 40px; }
    #contact .info-contact h5 {
      font-family: "Helvetica Neue", cursive;
      font-size: 1.5em;
      font-weight: bold; }
  #contact form {
    margin: 30px auto 0; }
    #contact form .form-group {
      margin: 0.5rem; }
    #contact form input {
      padding-top: 10px;
      padding-bottom: 10px; }
    #contact form button {
      margin: 20px auto;
      padding: 10px 50px;
      background: white;
      color: #e26562;
      font-weight: bold;
      font-family: "Helvetica Neue", cursive;
      transition: 0.3s; }
      #contact form button:hover {
        background: #0d0d0d;
        cursor: pointer; }

/*********************
FOOTER
*********************/
footer {
  padding: 10px;
  background: #404040;
  color: white;
  display: block;
  text-align: center; }
  footer .inline-footer > * {
    display: inline-block; }
  footer p {
    margin: 0 10px; }
  footer li {
    margin-left: 10px; }
    footer li a {
      color: white; }
      footer li a i {
        font-size: 20px; }
  footer .fa-facebook:hover {
    color: #3b5999; }
  footer .fa-envelope:hover {
    color: #02b875; }
  footer .fa-github:hover {
    color: #913399; }

@media (min-width: 700px) {
  #about .wrapper {
    margin: 0 20px; }

  .info-computer {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; }
    .info-computer .info-about img {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0; }
    .info-computer h4 {
      font-size: 2.6em; }

  .testimonials h4 {
    font-size: 2.1em; } }
@media (min-width: 992px) {
  .navbar-custom {
    background: #e26562 !important; }
    .navbar-custom .navbar-nav li a:hover {
      color: white !important; }

  .navbar .navbar-brand {
    font-size: 2em;
    color: #fff; }

  .nav-portfolio {
    transition: .4s;
    border: 1px solid black;
    font-size: 1.1em; }
    .nav-portfolio:hover {
      background: rgba(0, 0, 0, 0.9); }

  a.nav-contact {
    font-size: 1.1em; }

  header {
    height: 700px; }
    header #wrapper {
      margin: 0 20px;
      background: none;
      box-shadow: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 250px 250px;
      grid-gap: 15px;
      grid-template-areas: "div1 div-central div-central div2" "div3 div-central div-central div4"; }
      header #wrapper .div {
        background: #4a4a4a;
        box-shadow: 3px 4px 3px #1a1a1a; }
      header #wrapper .div1 {
        grid-area: div1;
        background: url("https://images.pexels.com/photos/38519/macbook-laptop-ipad-apple-38519.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
        background-size: cover; }
      header #wrapper .div2 {
        grid-area: div2;
        background: url("https://images.pexels.com/photos/326424/pexels-photo-326424.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
        background-size: cover; }
      header #wrapper .div3 {
        grid-area: div3;
        background: url("https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
        background-size: cover; }
      header #wrapper .div4 {
        grid-area: div4;
        background: url("https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
        background-size: cover; }
      header #wrapper .div-central {
        grid-area: div-central;
        position: relative; }
        header #wrapper .div-central .info {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%; }
          header #wrapper .div-central .info h2 {
            font-size: 5em; }
          header #wrapper .div-central .info li {
            margin-top: 20px; }
            header #wrapper .div-central .info li i {
              font-size: 1.5em;
              padding: 0 5px; }

  .aboutOffers p:first-child {
    border-right: 1px solid black; }

  #offers .info-offer {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "title wordpress static" "title responsive touchUp" "title tennis more"; }
    #offers .info-offer .offer {
      padding: 15px 5px;
      position: relative; }
      #offers .info-offer .offer .offer-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      #offers .info-offer .offer h4 {
        font-size: 1.4rem; }
    #offers .info-offer .offerTitle {
      grid-area: title;
      align-self: center;
      margin-right: 20px; }
    #offers .info-offer .wordpress {
      grid-area: wordpress; }
    #offers .info-offer .static {
      grid-area: static; }
    #offers .info-offer .responsive {
      grid-area: responsive; }
    #offers .info-offer .tennis {
      grid-area: tennis; }
    #offers .info-offer .touchUp {
      grid-area: touchUp; }
    #offers .info-offer .more {
      grid-area: more; }

  .item-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

  #portfolio h2 {
    font-size: 3em; }

  #about h2 {
    font-size: 3em; }

  #offers h2 {
    font-size: 3em; }

  #contact h2 {
    font-size: 3em; }

  #about .aboutResume p {
    font-size: 1.1em;
    margin: 20px 20px;
    padding: 20px 10px; }

  #about p::first-letter {
    font-size: 2.5em;
    color: #d12b27;
    padding-right: 3px;
    font-family: "Permanent Marker", cursive; }

  .aboutOffers p {
    font-size: 1.4em !important; } }
p {
  font-family: "Helvetica Neue", cursive; }

/*************** 
MAIN CONTENT
***************/
/* .gap {
    padding: 35px 0;
} */
.container {
  padding-top: 20px;
  padding-bottom: 20px; }
  .container .content {
    padding: 15px 0;
    background: #f7f7f7;
    border: 2px solid #f2b9b8;
    box-shadow: 1px 1px 1px #ea8f8d; }
    .container .content img {
      display: block;
      width: 85%;
      margin: 15px auto; }
    .container .content h4 {
      padding: 15px 15px 10px;
      color: #e26562;
      /* font-family: "Helvetica Neue", cursive; */ }
    .container .content div {
      padding: 0 10px 10px; }
      .container .content div p {
        padding: 0 30px;
        font-size: 14px; }
    .container .content button {
      margin-left: 30px;
      padding: 15px 0;
      width: 94%;
      position: relative;
      text-align: left;
      background: #fff;
      border: 1px solid #e26562;
      color: #000;
      transition: 0.4s; }
      .container .content button span {
        padding-left: 15px; }
      .container .content button i {
        position: absolute;
        right: 5px; }
      .container .content button:hover {
        background: #000;
        color: #e26562; }
    .container .content .contentTitle h4 {
      font-size: 2em; }

.services ul {
  list-style-type: none; }
  .services ul li i {
    padding: 10px 0;
    font-size: 0.8em; }

.infoWebsite button:hover {
  cursor: pointer; }

@media (min-width: 992px) {
  /*     .nav-item a.brand {
          font-size: 2em;
          font-family: "Permanent Marker", cursive;
      } */
  .wrapper {
    margin: 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "main main infoWebsite" "main main services" "main main pictures"; }
    .wrapper .main {
      grid-area: main; }
    .wrapper .infoWebsite {
      grid-area: infoWebsite; }
    .wrapper .services {
      grid-area: services; }
    .wrapper .pictures {
      grid-area: pictures; }

  .container .content button {
    width: 96%; } }

/*# sourceMappingURL=single.css.map */
