
@import 'style';

/**************
HEADER
**************/

.header_portfolio {
    height: 270px;
#portfolio_wrapper {
    margin: 0 10px;
    padding: 30px 0;
    background: lighten(black, 29%);
    box-shadow: 3px 4px 3px lighten(black, 10%);
    text-align: center;
    h2 {
        font-size: 2.5em;
        font-family: "Permanent Marker", cursive;
        color: $main;
        margin-bottom: 25px;
    }
}
}

#showcase {
    background: darken(white, 15%);
    text-align: center;
    padding: 30px 10px;
        .container {
            h2 {
                padding-bottom: 30px;
                font-family: $font_first;
                font-size: 2.5em;
                color: $main;
            }
            .item-computer 
                a { text-decoration-line: none}
                /* display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 270px 270px;
                grid-gap: 15px;
                position: relative; */
                .item {
                    border: 2px solid white;
                    box-shadow: 3px 3px 2px rgba(0,0,0,0.5);
                    margin: 15px 0;
                        img {
                            width: 100%;
                            height: 250px;
                        }
                        .showcaseTitle {
                            color: white;
                            width: 100%;
                            padding: 9px 2px;
                            font-family: "Roboto", cursive;
                            font-weight: bold;
                            text-transform: uppercase;
                            background: rgba(0, 0, 0, 0.8);
                            h4 {
                                font-family: "Roboto", cursive;
                            }
                            p {
                                font-family: "Roboto", cursive;
                                margin-bottom: 0;
                            }
                        }
                        
                }
                .item1 {
                   /*  background: url("../img/DeanHollingworth.png");
                    background-size: cover; */
                }
/*                 
                
                } */
            }
        
            hr {
                margin: 40px 0;
                border: 1px solid black;
                border-radius: 25%;
            }
            .showcaseMore {
                padding-top: 5px;
                    h4 {
                        color: $main;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    button {
                        margin-top: 10px;
                        padding: 15px 60px;
                        background: white;
                        border: 1px solid black;
                        border-radius: 3px;
                        font-family: "Roboto", cursive;
                        font-weight: bold;
                            &:hover {
                                background: black;
                                color: $main;
                            }
                    }
            }
        }


@media (min-width: 992px) {

    .header_portfolio #portfolio_wrapper h2 {
        font-size: 5em;
    }
    #showcase .container h2 {
        font-size: 3em;
    }
    #contact h2 {
        font-size: 3em;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        transition: 0.5s;
            &:hover {
                transform: scale(1.05);
            }
    }
    .item1 {
        &:hover {
            background: rgb(13,237,49);
        }
    }
    .item2 {
        &:hover {
            background: rgb(186,0,4);
        }
    }
    .item3 {
        &:hover {
            background: rgb(233,180,46);
        }
    }
}