html, body {
    height: 100%;
}

body {
    background-image: url("https://images.pexels.com/photos/42157/pexels-photo-42157.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
        opacity: .4;
    } 
}

.content {
    height: 100%;
    display: flex;
    color: #fff;
    h1 {
        margin: auto;
        color: #fff;
        font-size: 4em;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    background: #262626;
    width: 250px;
    height: 100%;
    transition: 0.4s;
}

.active {
    left: 0px;
}

ul {
    margin: 20px 0 0;
    padding: 20px 0;
    li {
        list-style: none;
        text-align: center;
        a {
            padding: 10px 20px;
            color: #fff;
            font-size: 20px;
            display: block;
            text-decoration: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                &:hover {
                    color: #A2D693;
                    transform: scale(1.1);
                    transition: 0.5s;
                }
        }
    }
}

.sidebarBtn {
    position: absolute;
    top: 10px;
    right: -50px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background: #f5f5f5;
    border: none;
    outline: none;
    span {
        display: block;
        width: 35px;
        height: 3px;
        background: #262626;
        position: absolute;
        top: 24px;
        transition: .5s;
        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 3px;
            background: #262626;
            transition: .5s
        }
        &:after {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: 3px;
            background: #262626;
            transition: .5s
        }
    }
}

.sidebarBtn.toggle span {
    background: transparent;
}

.sidebarBtn.toggle span:before {
    top: 0;
    transform: rotate(45deg);
}

.sidebarBtn.toggle span:after {
    top: 0;
    transform: rotate(-45deg);
}